/* Basic structure elements


body {
	margin: 0;
	padding: 0;
	background: white;
	font-family: veranda, sans-serif;
	font-size: 100%;
}

p {
	line-height: 1.5em;
}

/* Header


#header {
	height: 100px;
	width: auto;
	border: dashed red;
	background: red;
}

#headerwrapper {
	width: 100%;
	max-width: 960px;
	height: auto;
	padding: 5px;
	margin: auto;
	border: dashed green;
}

#logo {
	float: left;
}

#logo h1 a {
	font-size: 1.2em;
	margin-top:30px;
	padding: 0;
	text-decoration: none;
	color: #FFF;
}

#headnav {
	list-style: none;
	padding: 10px 0;
	float: right;
	margin: 0;
}



#headnav li {
	float: left;
	margin-right: 10px;
	font-size: 1em;
	font-weight: bold;
}

#headnav a {
	color: #FFF;
    text-decoration: none;
}

#headnav a:hover {
	color: blue;
}



/* Main Content


#main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background: orange;
	padding: 0;
	border: dashed black;
}
*****/
/* Basic structure elements
------------------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: veranda, sans-serif;
    font-size: 100%;
}

p {
    line-height: 1.5em;
}

/* Header
------------------------------------------------------------------------------*/

#header {
    height: 100px;
    width: auto;
    border: dashed red;
    background: red;
}

#headerwrapper {
    width: 100%;
    max-width: 960px;
    height: auto;
    padding: 5px;
    margin: auto;
}

#logo {
    float: left;
}

#logo h1 a {
    font-size: 1.2em;
    margin-top:30px;
    padding: 0;
    text-decoration: none;
    color: white;
}


/* Main */
#headnav {
        font-size: 1em;
        font-weight: bold;
        float: right;
        margin: 0;
        padding: 10px 0 0 0;
        list-style: none;
}

#headnav li{
        float: left;
        padding: 0 0 10px 0;
        position: relative;
}

#headnav a{
        float: left;
        height: 25px;
        padding: 0 25px;
        color: white;
        text-transform: uppercase;
        font: bold 12px/25px Arial, Helvetica;
        text-decoration: none;
        text-shadow: 0 1px 0 #000;
}

#headnav li:hover > a{
        color: #fafafa;
}

*html #headnav li a:hover{ /* IE6 */
        color: #fafafa;
}

#headnav li:hover > ul{
        display: block;
}



/* Sub-menu */

#headnav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#headnav ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#headnav ul li:last-child{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#headnav ul a{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #headnav ul a{ /* IE6 */
        height: 10px;
        width: 150px;
}

*:first-child+html #headnav ul a{ /* IE7 */
        height: 10px;
        width: 150px;
}

#headnav ul a:hover{
        background: #0186ba;
        background: -moz-linear-gradient(#04acec,  #0186ba);
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
        background: -webkit-linear-gradient(#04acec,  #0186ba);
        background: -o-linear-gradient(#04acec,  #0186ba);
        background: -ms-linear-gradient(#04acec,  #0186ba);
        background: linear-gradient(#04acec,  #0186ba);
}

#headnav ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#headnav ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#headnav ul li:first-child a:hover:after{
    border-bottom-color: #04acec;
}

#headnav ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#headnav:after{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

* html #headnav             { zoom: 1; } /* IE6 */
*:first-child+html #headnav { zoom: 1; } /* IE7 */




/* Main Content
------------------------------------------------------------------------------*/

#main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: white;
    padding: 0;
    border: dashed black;

.vendor_display {
	float: left;
	border: solid;
	margin: 20px;
	width: 20%;
	height: 160px;
	text-align: center;
}

/********** Error Messages*************/

#notice {
  width: 95%;
  height: 30px;
  margin: auto;
  color: white;
  background: green;
  border-radius: 5px;
  border: solid black;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


